@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
body {
  position: relative;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: #F3F7FA;
}

.main {
  max-width: 1920px;
  margin: 0 auto;
}

.main__container {
  padding: 0 7%;
}

.gradient1 {
  position: absolute;
  top: 152px;
  left: 50%;
  right: 0;
  background: radial-gradient(50% 50% at 50% 50%, rgba(109, 60, 229, 0.08) 0%, rgba(109, 60, 229, 0) 100%);
  box-shadow: 0px 4px 250px 80px rgba(109, 60, 229, 0.3);
}

.gradient2 {
  position: absolute;
  top: 25%;
  left: 50%;
  right: 15%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(109, 60, 229, 0.04) 0%, rgba(109, 60, 229, 0) 100%);
  box-shadow: 0px 4px 350px 80px rgba(109, 60, 229, 0.2);
}

.gradient3 {
  position: absolute;
  left: 40%;
  right: 0;
  bottom: 80%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(109, 60, 229, 0.04) 0%, rgba(109, 60, 229, 0) 100%);
  box-shadow: 50px 4px 250px 40px rgba(109, 60, 229, 0.3);
}

.gradient4 {
  position: absolute;
  left: 24%;
  right: 25%;
  bottom: 80%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(109, 60, 229, 0.3) 0%, rgba(109, 60, 229, 0) 100%);
  box-shadow: 0px 4px 300px 40px rgba(62, 34, 133, 0.3);
}

.header {
  height: 112px;
  max-width: 1920px;
  margin: 0 auto;
  font-weight: 600;
}

.header__container {
  padding: 0 7%;
}

.container-header {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  z-index: 6;
}

.logo__text {
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1080px) {
  .nav {
    display: none;
  }
}

.nav__list {
  list-style: none;
}

.list {
  display: flex;
}

.list__button {
  padding: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}

.list__button:hover {
  transform: scale(1.1);
}

.list__products, .list__about {
  position: relative;
}

.list__products::after, .list__about::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 8px;
  height: 4px;
  background-image: url(../../img/down.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.login {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 1300px) {
  .login {
    width: 50%;
  }
}

.login__log {
  width: 53px;
  padding: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.login__log:hover {
  transform: scale(1.1);
}

@media (max-width: 1080px) {
  .login__log {
    display: none;
  }
}

.get-start {
  width: 200px;
  height: 56px;
}

.get-start__button {
  height: 100%;
  width: 100%;
  background: #286DF6;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.get-start__button:hover {
  transform: scale(1.05);
}

@media (max-width: 1080px) {
  .get-start {
    display: none;
  }
}

.menu {
  position: absolute;
  display: none;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-width: 1920px;
  background-color: #fff;
  z-index: 5;
}

.menu__nav {
  height: 100%;
}

.menu__list {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.menu__button {
  padding: 20px;
}

.menu__button-products, .menu__button-about {
  position: relative;
}

.menu__button-products::after, .menu__button-about::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(-90deg);
  right: 0;
  width: 8px;
  height: 4px;
  background-image: url(../../img/down.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.menu--active {
  display: flex;
}

.log-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 30px 0;
  box-shadow: 4px 4px 20px 10px rgba(0, 0, 0, 0.1);
}

.log-buttons__start, .log-buttons__login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 300px;
  border: 1px solid #286DF6;
  background: transparent;
  color: #286DF6;
  border-radius: 8px;
}

.log-buttons__start {
  color: #fff;
  background: #286DF6;
}

.hidden {
  overflow: auto;
}

.hidden--active {
  overflow: hidden;
}

.burger {
  visibility: hidden;
  justify-self: flex-start;
  padding: 20px;
  margin-left: -20px;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s;
}

@media (max-width: 1080px) {
  .burger {
    visibility: visible;
  }
}

.burger-line {
  position: relative;
  height: 1.5px;
  width: 0px;
  background-color: #000;
}

.burger-line::after, .burger-line::before {
  content: "";
  position: absolute;
  top: 9px;
  width: 100%;
  height: 1.5px;
  background-color: #000;
  transition: 0.5s;
}

.burger-line::before {
  top: -9px;
}

@media (max-width: 1080px) {
  .burger-line {
    width: 25px;
  }
}

.burger:hover .burger-line,
.burger:hover .burger-line::before,
.burger:hover .burger-line::after {
  transform: rotate(-180deg);
  background-color: #000;
}

.burger:hover .burger-line::after {
  transform: rotate(180deg);
}

.burger-line--active {
  height: 0;
}

.burger .burger-line--active::before,
.burger .burger-line--active::after {
  transform: rotate(-45deg);
  background-color: #000;
  top: 0;
}

.burger .burger-line--active::after {
  transform: rotate(45deg);
}

.burger:hover .burger-line--active::after {
  transform: rotate(-45deg);
  background-color: #000;
}

.burger:hover .burger-line--active::before {
  transform: rotate(225deg);
  background-color: #000;
}

.where-happens {
  height: 650px;
}

.icons-up-title {
  position: relative;
  height: 139px;
}

.icons-under-title {
  position: relative;
}

.icon-size {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.icons {
  display: flex;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.icons__church, .icons__tooth, .icons__target, .icons__heart, .icons__bag, .icons__lamp {
  position: absolute;
  height: 40px;
  width: 80px;
}

.icons__church:hover, .icons__tooth:hover, .icons__target:hover, .icons__heart:hover, .icons__bag:hover, .icons__lamp:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.icons__church {
  bottom: 0;
  left: 0;
  background-image: url(../../img/church.png);
  -webkit-animation: moveChurch 1.3s linear infinite alternate;
          animation: moveChurch 1.3s linear infinite alternate;
}

@-webkit-keyframes moveChurch {
  from {
    left: 0%;
  }
  to {
    left: 2%;
  }
}

@keyframes moveChurch {
  from {
    left: 0%;
  }
  to {
    left: 2%;
  }
}

.icons__tooth {
  left: 16%;
  top: 0;
  background-image: url(../../img/tooth.png);
  animation: moveTooth 1.3s linear infinite alternate-reverse;
}

@-webkit-keyframes moveTooth {
  from {
    left: 16%;
  }
  to {
    left: 18%;
  }
}

@keyframes moveTooth {
  from {
    left: 16%;
  }
  to {
    left: 18%;
  }
}

.icons__target {
  bottom: 0;
  right: 15%;
  background-image: url(../../img/target.png);
  animation: moveTarget 1.3s linear infinite alternate-reverse;
}

@-webkit-keyframes moveTarget {
  from {
    right: 15%;
  }
  to {
    right: 13%;
  }
}

@keyframes moveTarget {
  from {
    right: 15%;
  }
  to {
    right: 13%;
  }
}

.icons__heart {
  bottom: 20px;
  left: 6%;
  background-image: url(../../img/heart.png);
  animation: moveHeart 1.3s linear infinite alternate-reverse;
}

@-webkit-keyframes moveHeart {
  from {
    left: 6%;
  }
  to {
    left: 8%;
  }
}

@keyframes moveHeart {
  from {
    left: 6%;
  }
  to {
    left: 8%;
  }
}

.icons__bag {
  bottom: -20px;
  right: 20%;
  background-image: url(../../img/bag.png);
  -webkit-animation: moveBag 1.3s linear infinite alternate;
          animation: moveBag 1.3s linear infinite alternate;
}

@-webkit-keyframes moveBag {
  from {
    right: 20%;
  }
  to {
    right: 22%;
  }
}

@keyframes moveBag {
  from {
    right: 20%;
  }
  to {
    right: 22%;
  }
}

.icons__lamp {
  bottom: 100px;
  right: 7%;
  background-image: url(../../img/lamp.png);
  animation: moveLamp 1.3s linear infinite alternate-reverse;
}

@-webkit-keyframes moveLamp {
  from {
    right: 7%;
  }
  to {
    right: 9%;
  }
}

@keyframes moveLamp {
  from {
    right: 7%;
  }
  to {
    right: 9%;
  }
}

@media (max-width: 860px) {
  .icons {
    display: none;
  }
}

.title {
  height: 275px;
  width: 100%;
  text-align: center;
}

.title__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title__text {
  font-size: 72px;
  font-weight: 700;
}

@media (max-width: 1300px) {
  .title__text {
    font-size: 52px;
  }
}

@media (max-width: 860px) {
  .title__text {
    font-size: 44px;
  }
}

@media (max-width: 660px) {
  .title__text {
    font-size: 32px;
  }
}

.title__text-blue {
  color: #286DF6;
}

.title__text-small {
  padding: 40px 0 50px 0;
  font-size: 24px;
}

@media (max-width: 660px) {
  .title__text-small {
    font-size: 16px;
  }
}

.button-title {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.button-title__get-start {
  height: 75px;
  width: 250px;
  margin: 0 30px 0 30px;
  font-size: 18px;
  background: #286DF6;
  border: none;
  border-radius: 6px;
  color: #fff;
  transition: 0.5s;
}

.button-title__get-start:hover {
  transform: scale(1.05);
}

@media (max-width: 860px) {
  .button-title__get-start {
    width: 100%;
  }
}

.button-title__contact {
  height: 75px;
  width: 250px;
  margin: 0 30px 0 30px;
  font-size: 18px;
  background: transparent;
  border: 1px #286DF6 solid;
  border-radius: 6px;
  color: #286DF6;
  transition: 0.5s;
}

.button-title__contact:hover {
  transform: scale(1.05);
}

@media (max-width: 860px) {
  .button-title__contact {
    width: 100%;
  }
}

@media (max-width: 860px) {
  .button-title {
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }
}

.solity__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solity-title {
  font-size: 46px;
  font-weight: 700;
  padding-bottom: 130px;
  text-align: center;
}

@media (max-width: 1300px) {
  .solity-title {
    font-size: 36px;
    padding-bottom: 100px;
  }
}

@media (max-width: 1080px) {
  .solity-title {
    padding-bottom: 65px;
    font-size: 33px;
  }
}

@media (max-width: 660px) {
  .solity-title {
    padding-bottom: 40px;
    font-size: 28px;
  }
}

.items {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1400px) {
  .items {
    flex-direction: column;
  }
}

.problem,
.solution {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 100px;
}

.problem__container,
.solution__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 613px;
  min-width: 290px;
}

.problem__text,
.solution__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 613px;
  height: 100%;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding: 0 15px;
}

@media (max-width: tablet_small) {
  .problem__text,
  .solution__text {
    margin-bottom: 0;
  }
}

.problem-title,
.solution-title {
  margin: 50px 0 16px 0;
  font-size: 46px;
  font-weight: 700;
}

@media (max-width: tablet_small) {
  .problem,
  .solution {
    margin-bottom: 50px;
  }
}

@media (max-width: 660px) {
  .problem,
  .solution {
    padding-bottom: 0px;
  }
}

.vectors {
  position: relative;
  height: 511px;
  width: 100%;
}

@media (max-width: 660px) {
  .vectors {
    height: 400px;
  }
}

@media (max-width: 460px) {
  .vectors {
    height: 350px;
  }
}

@media (max-width: 420px) {
  .vectors {
    height: 300px;
  }
}

.vectors__1, .vectors__2, .vectors__3, .vectors__4, .vectors__5, .vectors__6, .vectors__7, .vectors__8 {
  position: absolute;
  display: flex;
  max-height: 100%;
  max-width: 100%;
  z-index: -1;
}

.vectors__1 img, .vectors__2 img, .vectors__3 img, .vectors__4 img, .vectors__5 img, .vectors__6 img, .vectors__7 img, .vectors__8 img {
  width: 100%;
  height: 100%;
}

@media (max-width: 660px) {
  .vectors__1 img, .vectors__2 img, .vectors__3 img, .vectors__4 img, .vectors__5 img, .vectors__6 img, .vectors__7 img, .vectors__8 img {
    width: 80%;
    height: 80%;
  }
}

.vectors__1 {
  top: 20%;
  left: 8%;
}

@media (max-width: 660px) {
  .vectors__1 {
    width: 75%;
    height: 75%;
    top: 22%;
    left: 10%;
  }
}

.vectors__2 {
  bottom: 15%;
  right: 13%;
}

@media (max-width: 660px) {
  .vectors__2 {
    right: -5%;
    bottom: 0%;
    width: 75%;
    height: 75%;
  }
}

.vectors__3 {
  bottom: 20%;
  left: 10%;
}

@media (max-width: 660px) {
  .vectors__3 {
    width: 75%;
    height: 75%;
    bottom: 0%;
    left: 10%;
  }
}

.vectors__4 {
  top: 10%;
  right: 13%;
}

@media (max-width: 660px) {
  .vectors__4 {
    right: -5%;
    top: 10%;
    width: 75%;
    height: 75%;
  }
}

.vectors__5 {
  bottom: 8%;
  left: -15%;
}

@media (max-width: 660px) {
  .vectors__5 {
    height: 50%;
  }
}

.vectors__6 {
  top: 53%;
  left: -15%;
}

@media (max-width: 660px) {
  .vectors__6 {
    height: 50%;
  }
}

.vectors__7 {
  bottom: 43%;
  left: -20%;
}

@media (max-width: 660px) {
  .vectors__7 {
    height: 50%;
  }
}

.vectors__8 {
  top: 5%;
  left: -25%;
}

@media (max-width: 660px) {
  .vectors__8 {
    height: 50%;
  }
}

.problem-img__1, .problem-img__2, .problem-img__3, .problem-img__4 {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  transition: 1s;
  cursor: pointer;
}

.problem-img__1:hover, .problem-img__2:hover, .problem-img__3:hover, .problem-img__4:hover {
  transform: scale(1.2);
}

@media (max-width: 660px) {
  .problem-img__1 img, .problem-img__2 img, .problem-img__3 img, .problem-img__4 img {
    width: 120px;
  }
}

@media (max-width: 460px) {
  .problem-img__1 img, .problem-img__2 img, .problem-img__3 img, .problem-img__4 img {
    width: 100px;
  }
}

.problem-img__1 {
  top: 0%;
  left: 0%;
}

.problem-img__2 {
  left: -0%;
  bottom: -0%;
}

.problem-img__3 {
  top: -0%;
  right: -0%;
}

.problem-img__4 {
  right: -0%;
  bottom: -0%;
}

.problem-img__stop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 660px) {
  .problem-img__stop {
    width: 20%;
    transform: translate(-50%, -50%);
  }
}

.solution__container {
  padding: 0;
  display: flex;
  flex-direction: row;
}

@media (max-width: 660px) {
  .solution__container {
    justify-content: center;
  }
}

.solution-img {
  position: relative;
  width: 100%;
}

.solution-img {
  position: relative;
}

.solution-img__5, .solution-img__6, .solution-img__7, .solution-img__8 {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  transition: 1s;
  cursor: pointer;
}

.solution-img__5:hover, .solution-img__6:hover, .solution-img__7:hover, .solution-img__8:hover {
  transform: scale(1.2);
}

.solution-img__5 {
  top: 0%;
  left: 40%;
}

.solution-img__6 {
  bottom: 40%;
  left: 10%;
}

.solution-img__7 {
  top: 45%;
  right: -10%;
}

.solution-img__8 {
  bottom: 0%;
  left: 25%;
}

@media (max-width: 660px) {
  .solution-img {
    display: none;
  }
}

.solution-phone-img {
  cursor: pointer;
  transition: 1s;
}

@media (max-width: 660px) {
  .solution-phone-img {
    height: 230px;
  }
}

.solution-phone-img:hover {
  transform: scale(1.1);
}

.footer {
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
  background: #fff;
}

.footer__container {
  height: 100%;
  padding: 0 7% 3%;
}

.footer__logo {
  width: 100%;
  height: 80px;
}

@media (max-width: 1080px) {
  .footer__logo {
    margin-bottom: 50px;
  }
}

.footer__logo--img {
  width: 95px;
  height: 100%;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  padding-right: 120px;
}

@media (max-width: 1300px) {
  .footer__row {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 1080px) {
  .footer__row {
    justify-content: flex-start;
  }
}

.footer__column {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 26px;
  padding-right: 30px;
}

.footer__first-line {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

@media (max-width: 1080px) {
  .footer__first-line {
    flex-direction: column;
  }
}

.footer__second-line {
  display: flex;
  width: 40%;
}

@media (max-width: 1080px) {
  .footer__second-line {
    flex-direction: column;
    width: 100%;
  }
}

.footer-col,
.footer-project,
.footer-pricing,
.footer-enterprise,
.footer-about,
.footer-product {
  padding: 0 15px;
}

.footer-col__title,
.footer-project__title,
.footer-pricing__title,
.footer-enterprise__title,
.footer-about__title,
.footer-product__title {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 30px;
  cursor: pointer;
}

.footer-col__link,
.footer-project__link,
.footer-pricing__link,
.footer-enterprise__link,
.footer-about__link,
.footer-product__link {
  font-weight: 400;
}

.footer-col__link:hover,
.footer-project__link:hover,
.footer-pricing__link:hover,
.footer-enterprise__link:hover,
.footer-about__link:hover,
.footer-product__link:hover {
  text-decoration: underline;
}

@media (max-width: 1080px) {
  .footer-col__link,
  .footer-project__link,
  .footer-pricing__link,
  .footer-enterprise__link,
  .footer-about__link,
  .footer-product__link {
    display: none;
  }
}

@media (max-width: 1300px) {
  .footer-col,
  .footer-project,
  .footer-pricing,
  .footer-enterprise,
  .footer-about,
  .footer-product {
    padding: 0 30px 40px 0;
  }
}

.footer-titles {
  position: relative;
}

.footer-titles::after {
  display: none;
  content: '';
  position: absolute;
  width: 10px;
  height: 15px;
  top: 5px;
  right: 0;
  background-image: url(../../img/down.png);
  transform: rotate(-90deg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1080px) {
  .footer-titles::after {
    display: block;
  }
}

.footer-titles--active::after {
  transform: rotate(0deg);
}

.footer-titles--active a {
  display: block;
}

.under-line {
  padding: 0;
  border-top: 2px solid #E1E1E1;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

.under-line__row {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

@media (max-width: 860px) {
  .under-line__row {
    flex-direction: column;
  }
}

.under-line__col {
  display: flex;
  gap: 26px;
  font-weight: 600;
}

@media (max-width: 860px) {
  .under-line__col {
    flex-direction: column;
  }
}

.under-line__col a {
  text-decoration: none;
  color: black;
}

.under-line__titles {
  transition: .5s;
}

.under-line__titles:hover {
  text-decoration: underline;
}

@media (max-width: 1300px) {
  .under-line {
    margin-top: 80px;
  }
}

.social {
  display: flex;
  gap: 26px;
}

.social__tw, .social__ln, .social__fb {
  transition: .5s;
}

.social__tw:hover, .social__ln:hover, .social__fb:hover {
  transform: scale(1.2);
}

@media (max-width: 860px) {
  .social {
    margin: 40px 0;
  }
}

.rules {
  text-align: center;
  padding-top: 20px;
  line-height: 25px;
}
